<body>
  <div class="row even"> 
    <div class="col-lg-3 col-md-3 left-side">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>
        Eleven Education combines elite university experience with proven effective, data-driven instruction. <br>

        <br>Imagine an experienced teacher targeting each component and focusing on your exact weaknesses using proven teaching methods. Each week, we’ll measure your progress and you’ll see proof of rapid improvement in the data.
        <br><br>
        Book an hour of private tutoring with Jason using the payment options below for $80 USD. Afterwards, you'll get an email to schedule a date and time.
        <br><br>
        Questions? Please email Jason at jason.d.kwong@gmail.com or WeChat ID: jasonkwong11
      </p>
    </div>
    <div class="col-lg-3 col-md-3 right-side">
    </div>
  </div>

    <a href="/charges/new" style="background-color: #FFFFFF; color: #5BC0DE;">Pay $80 with Credit Card<br>
      <%= image_tag('credit-card-logos.png', alt: 'credit-card', size: "80x80")%>
    </a>

    <a href="/alipay" style="background-color: #FFFFFF; color: #5BC0DE;">Pay $80 with Alipay<br>
      <%= image_tag('alipay-logo.png', alt: 'alipay', size: "80x80") %>
    </a>

</body>
<%= stripe_javascript_tag %>
