<body>
  <div class="row even"> 
    <div class="col-lg-3 col-md-3 left-side">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>
        Hello, you can pay Jason here.
      </p>
    </div>
    <div class="col-lg-3 col-md-3 right-side">
    </div>
  </div>
</body>
<%= stripe_javascript_tag %>
