<style>
  h1 {
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
  }

  header {
    display: inline-flex;
  }

  a {
    display: inline-block;
  }
</style>
<header>
  <h1>Eleven Education</h1>
</header>