<style>

  a.navlink {
    font-size: 1.5vw;
  }

</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navlink" href="/">Eleven Education</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a class="navlink" href="/about">Why Jason</a></li>
      <li><a class="navlink" href="/blog">Free Tools</a></li>
      <li><a class="navlink" href="/blog">Schedule a Session</a></li>
      <li><a class="navlink" href="/blog">Blog</a></li>
    </ul>
  </div>
</nav>