<style>

  a.navlink {
    font-size: 1.2vw;
    font-weight: bold;
  }

</style>
<nav class="navbar navbar-default" style="margin-bottom: 0px !important;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navlink" href="/" style="font-weight: bold; font-size: 2.3vw; color: black; border-top: 3px solid white;     text-shadow: 1px 1px #5BC0DE;">Eleven Education</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a class="navlink" style="color: black; border-top: 3px solid white;" href="/about">WHY JASON</a></li>

      <li><a class="navlink" style="color: black; border-top: 3px solid white;" href="/free">FREE LESSONS AND TOOLS</a></li>

      <li><a class="navlink" style="color: black; border-top: 3px solid red;" href="/#schedule-session">SCHEDULE A SESSION <i class="fa fa-chevron-right" style="color: red;"></i></a></li>
    </ul>
  </div>
</nav>