<style>

  a.navlink {
    font-size: 1.2vw;
    font-weight: bold;
  }

</style>
<nav class="navbar navbar-default" style="margin-bottom: 0px !important;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navlink" href="/" style="font-weight: bold; font-size: 2.3vw; color: black;">Eleven Education</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a class="navlink" style="color: black;" href="/about">WHY JASON</a></li>
      <li><a class="navlink" style="color: black;" href="/blog">FREE LESSONS AND TOOLS</a></li>
      <li><a class="navlink" style="color: black;" href="/blog">SCHEDULE A SESSION</a></li>
    </ul>
  </div>
</nav>